doctype html
html
  head
    title Đơn hàng đang vận chuyển
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/responsive.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    include ../../header.pug

    #customer
      .customer-left
        ul
          li: a(href="customer") Thông tin tài khoản
          li: a(href="customer/address") Thông tin địa chỉ
          li: a(href="customer/change-password") Đổi mật khẩu
          li: a(href="customer/orders") Đơn hàng của bạn
        a.log-out(href="/auth/logout") Đăng xuất  
      .customer-right
        h1 Danh sách đơn đang vận chuyển
        // TODO: Hiển thị đơn hàng đang vận chuyển tại đây

    include ../../footer.pug
