footer 
    div(class="footer-content")
        div(class="footer-content-left")
            div
                a(href="#")
                    img(src="", alt="logo")
            
        div(class="footer-content-right")   
            div
                div(class="right-list") 
                    h2 Giới thiệu 
                    ul
                        li: a(href="#") Trang chủ
                            
                div(class="right-list") 
                    h2 Tài khoản
                    ul 
                        li: a(href="#") Đăng kí/Đăng nhập tài khoản 
                        li: a(href="#") Thông tin tài khoản
                        
           
    