header 
    div(class="container")
        div(class="content__header")
            div(class="logo__header")
                img(src="ảnh\download.jpg" alt="logo")
            div(class="menu__header")
                nav
                    ul(class="nav__link")
                        li: a(href="#") TRANG CHỦ
                        li: a(href="#") GIỚI THIỆU
                        li: a(href="#") LIÊN HỆ
            div(class="card__head") 
                a(href="#")
                    //- img(src="ảnh/user.png" alt="User" class="user-image")  
                    i(class="fa-solid fa-user")

                div(class="card" id="popup_card")
                    //- img(src="ảnh/cart.png" alt="Cart")
                    i(class="fa-solid fa-cart-shopping")
                    span(id="cart-count") 0
